h1 {
    color: darkblue;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed lightblue;
}

p {
    margin: 20px;
}

a {
    background-color: lightpink;
}

#about {
    margin-bottom: 50px;
}


