head{
    color: midnightblue;
}

h1 {
    color: midnightblue;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

body {
    background-color: aliceblue;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-color: midnightblue;
}

p {
    margin: 20px;
}

.menu {
    background-color: midnightblue;
}


/*.inline {
    display: inline-block;
}*/

#slideshare {
    font-style: italic;
}

/*  
a {
    background-color: lightpink;
}
*/



